<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Creating user address</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Updating user address</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Deleting user address</h3>
  
    <form class="mat-dialog-content" #formControl="ngForm">
      <div class="form">
        <mat-form-field class="form-field">
          <input matInput placeholder="Street" name="Street" [disabled]="flag==3" [(ngModel)]="data.street" required />
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field class="form-field">
          <input matInput placeholder="StreetNumber" name="StreetNumber" [disabled]="flag==3" [(ngModel)]="data.streetNumber" required />
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field class="form-field">
          <input matInput placeholder="Town" name="Town" [disabled]="flag==3" [(ngModel)]="data.town" required />
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field class="form-field">
            <input matInput placeholder="Country" name="Country" [disabled]="flag==3" [(ngModel)]="data.country" required />
        </mat-form-field>
      </div>
    </form>
  
    <div class="mat-dialog-actions form-field">
        <button mat-raised-button color="primary" *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Create</button>
        <button mat-raised-button color="primary" *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Update</button>
        <button mat-raised-button color="primary" *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Delete</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
  </div>
  