<div class="container mt-5">
    <div class="card shadow-lg">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Contact Us</h2>
        <p class="card-text text-center mb-4">Welcome to KK IT Novi Sad Web Shop. We are dedicated to providing the best service to our customers. If you have any questions or need further assistance, please reach out to us through the following contact details:</p>
        
        <div class="row">
          <div class="col-md-4 text-center mb-3">
            <div class="card h-100 border-0">
              <div class="card-body">
                <h5 class="card-title">Phone Number</h5>
                <p class="card-text">064 123 4242</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4 text-center mb-3">
            <div class="card h-100 border-0">
              <div class="card-body">
                <h5 class="card-title">Email Address</h5>
                <p class="card-text">'kk.it.ns.web.shop&#64;gmail.com</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4 text-center mb-3">
            <div class="card h-100 border-0">
              <div class="card-body">
                <h5 class="card-title">Physical Address</h5>
                <p class="card-text">Radivoja Koraca 99, Novi Sad, Srbija</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
