<div class="p-3 mb-3 rounded cart-container" *ngIf="cart.length > 0; else emptyCart">
  <!-- Card content for each product in the cart -->
  <div class="card mb-3" *ngFor="let item of cart; let i = index">
    <div class="card-body d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="{{ products[i].image }}" alt="{{ products[i].productName }}" class="me-3" style="max-width: 100px; height: auto;">
        <div>
          <h5 class="card-title">{{ products[i].productName }}</h5>
          <p class="card-text">{{ products[i].description }}</p>
          <p class="card-text">Amount: {{ item.amount }}</p>
          <p class="card-text">Price: {{ products[i].price }}</p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-success me-2" (click)="addToCart(item.productId)">+</button>
        <button class="btn btn-danger me-2" (click)="removeFromCart(item.productId)">-</button>
      </div>
    </div>
  </div>
  <!-- Total items and total price -->
  <div class="total-items">
    Total Items: {{ totalItems }}
  </div>
  <div class="total-price">
    Total Price: {{ getTotalPrice() | currency }}
  </div>
  <!-- Make Order button -->
  <button class="btn btn-primary mt-3" (click)="makeOrder()">Make Order</button>
</div>
<ng-template #emptyCart>
  <p>Your cart is empty.</p>
</ng-template>
