<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Creating product</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Updating product</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Deleting product</h3>

  <form [formGroup]="productForm" class="mat-dialog-content">
    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Name" formControlName="productName" [readonly]="flag == 3" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Description" formControlName="description" [readonly]="flag == 3" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Image" formControlName="image" [readonly]="flag == 3" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Brand" formControlName="brand" [readonly]="flag == 3" />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Category" formControlName="category" [readonly]="flag == 3" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Size" formControlName="size" [readonly]="flag == 3" />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput type="number" placeholder="Price" formControlName="price" [readonly]="flag == 3" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput type="number" placeholder="Quantity" formControlName="quantity" [readonly]="flag == 3" />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Discount" formControlName="discountId" [readonly]="flag == 3" />
      </mat-form-field>
    </div>
  </form>

  <div class="mat-dialog-actions form-field">
    <button mat-raised-button color="primary" *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!productForm.valid" (click)="add()">Create</button>
    <button mat-raised-button color="primary" *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!productForm.valid" (click)="update()">Update</button>
    <button mat-raised-button color="primary" *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Delete</button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
  </div>
</div>