<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Creating product</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Updating product</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Deleting product</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Name" name="Name" [disabled]="flag==3" [(ngModel)]="data.productName" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Description" name="Description" [disabled]="flag==3" [(ngModel)]="data.description" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Image" name="Image" [disabled]="flag==3" [(ngModel)]="data.image" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
          <input matInput placeholder="Brand" name="Brand" [disabled]="flag==3" [(ngModel)]="data.brand" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Category" name="Category" [disabled]="flag==3" [(ngModel)]="data.category" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
          <input matInput placeholder="Size" name="Size" [disabled]="flag==3" [(ngModel)]="data.size" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Price" name="Price" [disabled]="flag==3" [(ngModel)]="data.price" required />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="form-field">
          <input matInput placeholder="Discount" name="Discount" [disabled]="flag==3" [(ngModel)]="data.discountId" required />
      </mat-form-field>
    </div>
  </form>

  <div class="mat-dialog-actions form-field">
      <button mat-raised-button color="primary" *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Create</button>
      <button mat-raised-button color="primary" *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Update</button>
      <button mat-raised-button color="primary" *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Delete</button>
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
  </div>
</div>
