<section id="product">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="productHeading text-center">
          <h2 class="mb-3">My products</h2>
          <button class="btn btn-lg btn-success fw-bold float-end" (click)="add()">Create Product</button>
        </div>
      </div>
      <div class="col-12">
        <div class="row mt-3 g-3">
          <div class="col-lg-3" *ngFor="let product of productList">
            <div class="box-shadow product-card">
              <div class="card">
                <img class="img-fluid card-img-top" style="height: 250px;" [src]="product.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.productName}}</h5>
                  <p class="card-text">
                    <span class="text-danger fw-semibold me-2">{{product.price}} $</span>
                  </p>
                  <span *ngFor="let star of [1, 2, 3, 4, 5]" class="me-0">
                    <i class="fa fa-star" [ngClass]="{'fa-star-half': star-0.5 === product.totalRating, 'fa-star': star <= product.totalRating, 'fa-star-o': star > product.totalRating}"></i>
                  </span>
                  <div class="row">
                    <div class="col-5">
                    </div>
                    <div class="row mt-3">
                      <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success fw-bold" (click)="update()">Update</button>
                      </div>
                      <div class="col-6">
                        <button class="btn btn-sm btn-danger fw-bold" (click)="deleteProduct(product.productId)">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isUpdating">
              <h2>Update Product</h2>
              <div class="mb-3">
                <label for="updateProductName" class="form-label">Product name:</label>
                <input type="text" id="updateProductName" class="form-control" [(ngModel)]="product.productName">
              </div>
              <div class="mb-3">
                <label for="updateDescription" class="form-label"> Description:</label>
                <input type="text" id="updateDescription" class="form-control" [(ngModel)]="product.description">
              </div>
              <div class="mb-3">
                <label for="updateImage" class="form-label">Image:</label>
                <input type="text" id="updateImage" class="form-control" [(ngModel)]="product.image">
              </div>
              <div class="mb-3">
                <label for="updateBrand" class="form-label">Brand:</label>
                <input type="text" id="updateBrand" class="form-control" [(ngModel)]="product.brand">
              </div>
              <div class="mb-3">
                <label for="updateCategory" class="form-label"> Category:</label>
                <input type="text" id="updateCategory" class="form-control" [(ngModel)]="product.category">
              </div>
              <div class="mb-3">
                <label for="updateSize" class="form-label">Size:</label>
                <input type="text" id="addSize" class="form-control" [(ngModel)]="product.size">
              </div>
              <div class="mb-3">
                <label for="updatePrice" class="form-label">Price:</label>
                <input type="number" id="updatePrice" class="form-control" [(ngModel)]="product.price">
              </div>
              <div class="mb-3">
                <label for="updateQuantity" class="form-label">Quantity:</label>
                <input type="number" id="updateQuantity" class="form-control" [(ngModel)]="product.quantity">
              </div>
              <button (click)="updateProduct(product)" class="btn btn-success">Update Product</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="isAdding">
  <h2>Add Product</h2>
  <div class="mb-3">
    <label for="addProductName" class="form-label">Product name:</label>
    <input type="text" id="addProductName" class="form-control" [(ngModel)]="productCreate.productName">
  </div>
  <div class="mb-3">
    <label for="addDescription" class="form-label"> Description:</label>
    <input type="text" id="addDescription" class="form-control" [(ngModel)]="productCreate.description">
  </div>
  <div class="mb-3">
    <label for="addImage" class="form-label">Image:</label>
    <input type="text" id="addImage" class="form-control" [(ngModel)]="productCreate.image">
  </div>
  <div class="mb-3">
    <label for="addBrand" class="form-label">Brand:</label>
    <input type="text" id="addBrand" class="form-control" [(ngModel)]="productCreate.brand">
  </div>
  <div class="mb-3">
    <label for="addCategory" class="form-label"> Category:</label>
    <input type="text" id="addCategory" class="form-control" [(ngModel)]="productCreate.category">
  </div>
  <div class="mb-3">
    <label for="addSize" class="form-label">Size:</label>
    <input type="text" id="addSize" class="form-control" [(ngModel)]="productCreate.size">
  </div>
  <div class="mb-3">
    <label for="addPrice" class="form-label">Price:</label>
    <input type="number" id="addPrice" class="form-control" [(ngModel)]="productCreate.price">
  </div>
  <div class="mb-3">
    <label for="addQuantity" class="form-label">Quantity:</label>
    <input type="number" id="addQuantity" class="form-control" [(ngModel)]="productCreate.quantity">
  </div>
  <button (click)="createProduct()" class="btn btn-success">Add Product</button>
</div>
